.main__container{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-areas: 'Advertising Switch Announcements'
}

.announcements{grid-area: Announcements};
.advertising{grid-area : Advertising};
.main__switch{grid-area: Switch}

.route__header{
    font-size:28px;
    text-align: center;
    text-transform: uppercase;
    color:black;

    border:1px solid grey;

    margin: 0;
    padding: 10px;
}

.side__block{
    height: 300px;
    width:100%;
    border:1px solid grey;
}