 .header{
    background-color:#083451;
}

.header__logo{
    width:75px;
    margin: 10px 0;
}

.link__item{
    color:#fff;
    font-size:20px;
    font-weight: 400;

    position: relative;
    margin-right: 20px;
}

.header__account{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    padding:3px;

    background-color: #fff;
    color:#083451;
}

.header__account_item{
    font-weight: 700;
    text-align: center;

    padding: .6em 1em;
    display: block;

    border:1px solid #fff;
    color:#fff;  
}

.header__hover{
    content: ' ';
    background-color: #0A55DB;

    position: absolute;
    left:50%;
    top:200%;
    transform:translate3d(-50%, 0% , 0);

    width: 40px;
    height: 3px;
    
    opacity: 0;
    transition: all .5s ease;
}
.link__item:hover .header__hover{
    top:130%;
    opacity: 1;
}
.link__item:last-child{
    margin: 0;
} 